@font-face {
  font-family: 'TTLakes';
  src: url(./fonts/TTLakes-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'TTLakes-Bold';
  src: url(./fonts/TTLakes-Bold.ttf) format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'TTLakes-Medium';
  src: url(./fonts/TTLakes-Medium.ttf) format("truetype");
  font-weight: bold;
  font-style: italic; }

body {
  font-family: TTLakes, sans-serif;
  background-color: #F8F8F8;
  color: #1B1C21;
  max-width: 1126px;
  margin: 0 auto; }
  body.modal-open {
    height: 100vh;
    overflow-y: hidden; }

@media (min-width: 1368px) {
  .page {
    position: absolute;
    top: 0;
    left: 320px; } }

@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer;
  background: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/

.header {
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 88px;
  max-width: 100%;
  padding: 0 16px; }
  .header .btn {
    background-color: #ff3e79;
    border-radius: 50%;
    width: 40px;
    height: 40px; }
    .header .btn__menu {
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='16' viewBox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 1C0 0.447715 0.447715 0 1 0H17C17.5523 0 18 0.447715 18 1C18 1.55228 17.5523 2 17 2H1C0.447716 2 0 1.55228 0 1ZM0 8C0 7.44772 0.447715 7 1 7H9C9.55228 7 10 7.44772 10 8C10 8.55229 9.55229 9 9 9H1C0.447715 9 0 8.55229 0 8ZM1 14C0.447715 14 0 14.4477 0 15C0 15.5523 0.447716 16 1 16H13C13.5523 16 14 15.5523 14 15C14 14.4477 13.5523 14 13 14H1Z' fill='white'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center; }
    .header .btn__phone {
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.76019 12.25L4.30019 11.96C4.91019 11.89 5.51019 12.1 5.94019 12.53L7.78019 14.37C10.6102 12.93 12.9302 10.62 14.3702 7.78L12.5202 5.93C12.0902 5.5 11.8802 4.9 11.9502 4.29L12.2402 1.77C12.3602 0.76 13.2102 0 14.2302 0H15.9602C17.0902 0 18.0302 0.94 17.9602 2.07C17.4302 10.61 10.6002 17.43 2.07019 17.96C0.940193 18.03 0.00019455 17.09 0.00019455 15.96V14.23C-0.00980568 13.22 0.750193 12.37 1.76019 12.25Z' fill='white'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center; }
    .header .btn__chat {
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18 0H2C0.9 0 0.01 0.9 0.01 2L0 20L4 15H18C19.1 15 20 14.1 20 13V2C20 0.9 19.1 0 18 0ZM11 11H5C4.45 11 4 10.55 4 10C4 9.45 4.45 9 5 9H11C11.55 9 12 9.45 12 10C12 10.55 11.55 11 11 11ZM15 6H5C4.45 6 4 5.55 4 5C4 4.45 4.45 4 5 4H15C15.55 4 16 4.45 16 5C16 5.55 15.55 6 15 6Z' fill='white'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center; }
    .header .btn__profile {
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='19' viewBox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 9C12.9853 9 15 6.98528 15 4.5C15 2.01472 12.9853 0 10.5 0C8.01472 0 6 2.01472 6 4.5C6 6.98528 8.01472 9 10.5 9Z' fill='white'/%3E%3Cpath d='M0.0165859 16.6118C-0.113065 17.3412 0.535191 18 1.33903 18H18.6604C19.4902 18 20.1125 17.3412 19.9829 16.6118C19.2309 12.4 15.0561 10 9.99973 10C4.94333 10 0.768563 12.4 0.0165859 16.6118Z' fill='white'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center; }
    .header .btn__group {
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.25807 13.4583L8.66685 13.0494L6.94998 11.3322L6.54121 11.7411L6.33682 11.5367C6.0098 11.1687 5.68278 10.9643 5.35575 11.0052C5.11049 11.0052 4.9061 11.1687 4.74259 11.414C4.49732 11.8229 4.61996 12.2726 4.66083 12.5588C4.66083 12.6406 4.70171 12.6815 4.70171 12.7632C4.70171 12.8859 4.70171 13.0494 4.41557 13.0903C4.00679 13.213 3.47538 13.3356 2.94397 13.6218C2.20817 14.0307 1.71764 14.3987 1.4315 14.7666C-0.0809772 16.7291 0.000778159 18.4055 0.000778159 18.4872C0.000778159 18.6099 0.0416558 18.6917 0.123411 18.7325L1.22711 19.8773C1.30886 19.9591 1.39062 20 1.47237 20C1.47237 20 1.51325 20 1.59501 20C2.00378 20 3.47538 19.9182 5.19224 18.569C5.56014 18.2828 5.92804 17.7922 6.33682 17.0562C6.62296 16.5656 6.78647 16.0341 6.86823 15.5844C6.94998 15.2982 7.07262 15.2982 7.19525 15.2982C7.23613 15.2982 7.31788 15.339 7.39964 15.339C7.56315 15.3799 7.72666 15.4208 7.93105 15.4208C8.13544 15.4208 8.33983 15.3799 8.54421 15.2573C8.78948 15.0937 8.95299 14.8893 8.99387 14.644C9.03475 14.3169 8.87123 13.9898 8.50334 13.7036L8.25807 13.4583Z' fill='white'/%3E%3Cpath d='M16.884 4.87841L18.0188 4.32603C18.0609 4.28354 18.1449 4.24105 18.1869 4.19856L19.9101 1.86157C20.0362 1.69161 20.0362 1.43667 19.8681 1.3092L18.6913 0.119458C18.5652 -0.00801422 18.313 -0.0505049 18.1449 0.076967L15.8333 1.81908C15.7913 1.86157 15.7493 1.90406 15.7072 1.98905L15.1609 3.13629L11 7.21539L12.7652 9L16.884 4.87841Z' fill='white'/%3E%3Cpath d='M17.8527 13.0448C16.8636 12.0036 15.4393 11.6288 14.0941 12.0036L7.64527 5.17331C7.72439 4.79848 7.76396 4.46529 7.76396 4.09046C7.76396 3.04926 7.36832 2.00806 6.61661 1.21675C5.58796 0.0922529 4.04498 -0.282579 2.6207 0.217197C2.54157 0.258845 2.42288 0.383789 2.38331 0.550381C2.38331 0.675325 2.42288 0.800269 2.50201 0.925213L4.44062 2.96597C4.87582 3.42409 4.87582 4.21541 4.44062 4.67353C4.00542 5.13166 3.25371 5.13166 2.81851 4.67353L0.8799 2.63278C0.76121 2.54949 0.642519 2.50784 0.484265 2.54949C0.365574 2.54949 0.246884 2.67443 0.20732 2.79937C-0.267442 4.25705 0.0886295 5.88133 1.11728 6.96417C1.82943 7.75549 2.85808 8.17197 3.88673 8.17197C4.20324 8.17197 4.55931 8.13032 4.87582 8.04702L11.3642 14.8773C11.0082 16.2933 11.4038 17.7927 12.3533 18.8339C13.105 19.6252 14.0546 20 15.0832 20C15.5184 20 15.914 19.9167 16.3492 19.7918C16.4679 19.7501 16.5866 19.6252 16.6262 19.5002C16.6658 19.3753 16.6262 19.2087 16.5075 19.1254L14.5689 17.0846C14.3711 16.8764 14.2128 16.5432 14.2128 16.21C14.2128 15.8768 14.3315 15.5853 14.5689 15.3354C14.8063 15.0855 15.0832 14.9606 15.3997 14.9606C15.7162 14.9606 15.9932 15.0855 16.2306 15.3354L18.1692 17.3762C18.2879 17.4595 18.4065 17.5011 18.5252 17.5011C18.6439 17.4595 18.7626 17.3762 18.8022 17.2512C18.9209 16.8348 19 16.3766 19 15.9185C19 14.8356 18.6044 13.7944 17.8527 13.0448Z' fill='white'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center; }
    .header .btn__check {
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 1C0 0.447715 0.447715 0 1 0H15C15.5523 0 16 0.447716 16 1V18.5C15.1716 18.5 14.5001 19.1715 14.5 19.9999H13.5C13.4999 19.1715 12.8284 18.5 12 18.5C11.1716 18.5 10.5001 19.1715 10.5 19.9999H9.5C9.49994 19.1715 8.82839 18.5 8 18.5C7.17161 18.5 6.50006 19.1715 6.5 19.9999H5.5C5.49994 19.1715 4.82839 18.5 4 18.5C3.17161 18.5 2.50006 19.1715 2.5 19.9999H1.5C1.49994 19.1715 0.828392 18.5 0 18.5V1ZM9.41635 11.7884C8.55361 12.3444 7.47039 12.5936 6.32965 12.3827C4.52748 12.0472 3.08957 10.5327 2.85951 8.71142C2.49524 5.82612 4.94926 3.42012 7.85383 3.88023C9.656 4.1678 11.1035 5.644 11.4007 7.43652C11.5828 8.54846 11.324 9.57413 10.7872 10.4273L12.8961 12.5265C13.2699 12.9004 13.2699 13.5138 12.8961 13.8877C12.5126 14.2711 11.8991 14.2711 11.5253 13.8973L9.41635 11.7884ZM4.70588 8.05882C4.70588 6.76 5.76 5.70588 7.05882 5.70588C8.35765 5.70588 9.41177 6.76 9.41177 8.05882C9.41177 9.35765 8.35765 10.4118 7.05882 10.4118C5.76 10.4118 4.70588 9.35765 4.70588 8.05882Z' fill='white'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center; }
    .header .btn:hover {
      opacity: 0.5; }
  .header__logo {
    margin: 0 16px;
    flex-grow: 1; }
  .header__contacts {
    display: none; }
  .header__check-status {
    display: flex;
    width: 120px;
    justify-content: space-between; }
    .header__check-status::before {
      content: '';
      border-left: 2px solid #eaeaea;
      height: 32px;
      align-self: center; }
  @media (min-width: 768px) {
    .header {
      min-height: 80px;
      align-items: center; }
    .header__contacts {
      display: flex;
      width: 150px;
      justify-content: space-between;
      margin-right: 20px; }
    .header__logo {
      display: flex; }
      .header__logo::before {
        content: '';
        border-right: 2px solid #eaeaea;
        align-self: center;
        height: 32px;
        margin-right: 20px; }
    .header__btn {
      margin: 8px; } }
  @media (min-width: 1120px) {
    .header {
      display: none; } }

.title {
  display: flex;
  width: 100%;
  font-family: TTLakes-Bold, sans-serif;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  margin: 24px 0; }
  .title h1 {
    flex-grow: 1; }
  .title::before {
    content: '';
    border-left: 4px solid #41f6d7;
    width: 10px;
    height: 40px;
    align-self: center;
    margin-right: 12px; }
  .title__check-status {
    display: none; }
  @media (min-width: 768px) {
    .title::before {
      margin-right: 24px; } }
  @media (min-width: 1120px) {
    .title::before {
      margin-right: 30px; }
    .title__check-status {
      display: flex;
      font-size: 16px;
      justify-content: flex-end; }
      .title__check-status .check-status {
        display: flex;
        width: 173px;
        justify-content: space-between;
        margin-right: 30px; }
        .title__check-status .check-status .btn {
          background-color: #ff3e79;
          border-radius: 50%;
          width: 40px;
          height: 40px; }
          .title__check-status .check-status .btn__group {
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.25807 13.4583L8.66685 13.0494L6.94998 11.3322L6.54121 11.7411L6.33682 11.5367C6.0098 11.1687 5.68278 10.9643 5.35575 11.0052C5.11049 11.0052 4.9061 11.1687 4.74259 11.414C4.49732 11.8229 4.61996 12.2726 4.66083 12.5588C4.66083 12.6406 4.70171 12.6815 4.70171 12.7632C4.70171 12.8859 4.70171 13.0494 4.41557 13.0903C4.00679 13.213 3.47538 13.3356 2.94397 13.6218C2.20817 14.0307 1.71764 14.3987 1.4315 14.7666C-0.0809772 16.7291 0.000778159 18.4055 0.000778159 18.4872C0.000778159 18.6099 0.0416558 18.6917 0.123411 18.7325L1.22711 19.8773C1.30886 19.9591 1.39062 20 1.47237 20C1.47237 20 1.51325 20 1.59501 20C2.00378 20 3.47538 19.9182 5.19224 18.569C5.56014 18.2828 5.92804 17.7922 6.33682 17.0562C6.62296 16.5656 6.78647 16.0341 6.86823 15.5844C6.94998 15.2982 7.07262 15.2982 7.19525 15.2982C7.23613 15.2982 7.31788 15.339 7.39964 15.339C7.56315 15.3799 7.72666 15.4208 7.93105 15.4208C8.13544 15.4208 8.33983 15.3799 8.54421 15.2573C8.78948 15.0937 8.95299 14.8893 8.99387 14.644C9.03475 14.3169 8.87123 13.9898 8.50334 13.7036L8.25807 13.4583Z' fill='white'/%3E%3Cpath d='M16.884 4.87841L18.0188 4.32603C18.0609 4.28354 18.1449 4.24105 18.1869 4.19856L19.9101 1.86157C20.0362 1.69161 20.0362 1.43667 19.8681 1.3092L18.6913 0.119458C18.5652 -0.00801422 18.313 -0.0505049 18.1449 0.076967L15.8333 1.81908C15.7913 1.86157 15.7493 1.90406 15.7072 1.98905L15.1609 3.13629L11 7.21539L12.7652 9L16.884 4.87841Z' fill='white'/%3E%3Cpath d='M17.8527 13.0448C16.8636 12.0036 15.4393 11.6288 14.0941 12.0036L7.64527 5.17331C7.72439 4.79848 7.76396 4.46529 7.76396 4.09046C7.76396 3.04926 7.36832 2.00806 6.61661 1.21675C5.58796 0.0922529 4.04498 -0.282579 2.6207 0.217197C2.54157 0.258845 2.42288 0.383789 2.38331 0.550381C2.38331 0.675325 2.42288 0.800269 2.50201 0.925213L4.44062 2.96597C4.87582 3.42409 4.87582 4.21541 4.44062 4.67353C4.00542 5.13166 3.25371 5.13166 2.81851 4.67353L0.8799 2.63278C0.76121 2.54949 0.642519 2.50784 0.484265 2.54949C0.365574 2.54949 0.246884 2.67443 0.20732 2.79937C-0.267442 4.25705 0.0886295 5.88133 1.11728 6.96417C1.82943 7.75549 2.85808 8.17197 3.88673 8.17197C4.20324 8.17197 4.55931 8.13032 4.87582 8.04702L11.3642 14.8773C11.0082 16.2933 11.4038 17.7927 12.3533 18.8339C13.105 19.6252 14.0546 20 15.0832 20C15.5184 20 15.914 19.9167 16.3492 19.7918C16.4679 19.7501 16.5866 19.6252 16.6262 19.5002C16.6658 19.3753 16.6262 19.2087 16.5075 19.1254L14.5689 17.0846C14.3711 16.8764 14.2128 16.5432 14.2128 16.21C14.2128 15.8768 14.3315 15.5853 14.5689 15.3354C14.8063 15.0855 15.0832 14.9606 15.3997 14.9606C15.7162 14.9606 15.9932 15.0855 16.2306 15.3354L18.1692 17.3762C18.2879 17.4595 18.4065 17.5011 18.5252 17.5011C18.6439 17.4595 18.7626 17.3762 18.8022 17.2512C18.9209 16.8348 19 16.3766 19 15.9185C19 14.8356 18.6044 13.7944 17.8527 13.0448Z' fill='white'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center; }
          .title__check-status .check-status .btn__check {
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 1C0 0.447715 0.447715 0 1 0H15C15.5523 0 16 0.447716 16 1V18.5C15.1716 18.5 14.5001 19.1715 14.5 19.9999H13.5C13.4999 19.1715 12.8284 18.5 12 18.5C11.1716 18.5 10.5001 19.1715 10.5 19.9999H9.5C9.49994 19.1715 8.82839 18.5 8 18.5C7.17161 18.5 6.50006 19.1715 6.5 19.9999H5.5C5.49994 19.1715 4.82839 18.5 4 18.5C3.17161 18.5 2.50006 19.1715 2.5 19.9999H1.5C1.49994 19.1715 0.828392 18.5 0 18.5V1ZM9.41635 11.7884C8.55361 12.3444 7.47039 12.5936 6.32965 12.3827C4.52748 12.0472 3.08957 10.5327 2.85951 8.71142C2.49524 5.82612 4.94926 3.42012 7.85383 3.88023C9.656 4.1678 11.1035 5.644 11.4007 7.43652C11.5828 8.54846 11.324 9.57413 10.7872 10.4273L12.8961 12.5265C13.2699 12.9004 13.2699 13.5138 12.8961 13.8877C12.5126 14.2711 11.8991 14.2711 11.5253 13.8973L9.41635 11.7884ZM4.70588 8.05882C4.70588 6.76 5.76 5.70588 7.05882 5.70588C8.35765 5.70588 9.41177 6.76 9.41177 8.05882C9.41177 9.35765 8.35765 10.4118 7.05882 10.4118C5.76 10.4118 4.70588 9.35765 4.70588 8.05882Z' fill='white'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center; } }

.slide-menu {
  overflow-x: auto;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  margin: 32px 0;
  align-items: center; }
  .slide-menu__item {
    padding: 8px 15px;
    white-space: nowrap;
    color: #7e7e82;
    align-items: center;
    border-radius: 6px; }
    .slide-menu__item:hover, .slide-menu__item:focus {
      box-shadow: inset 0 0 0 2px #b8ffec; }
  @media (min-width: 1120px) {
    .slide-menu {
      flex-wrap: wrap;
      overflow: visible; } }

.content__text {
  font-size: 14px;
  line-height: 18px;
  padding: 10px 15px;
  letter-spacing: 0.2px;
  width: 312px; }
  .content__text .text {
    overflow: hidden;
    height: 90px;
    margin-bottom: 15px;
    transition: height 1s; }
  .content__text .open {
    overflow: visible;
    height: 15em; }

.content__more {
  display: flex;
  margin: 10px 15px;
  color: #1b1c21;
  font-weight: 500; }
  .content__more::before {
    float: left;
    content: '';
    background: url(./static/arrows.svg) no-repeat;
    width: 10px;
    height: 10px;
    color: #41f6d7;
    margin-right: 16px;
    align-self: center;
    transition: 1s; }

.content__photo {
  display: flex;
  height: 210px;
  width: 312px;
  border: 2px solid #ffffff; }
  .content__photo img {
    width: 312px; }

@media (min-width: 768px) {
  .content {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    margin: 0 24px; }
  .content__text {
    padding: 0; }
    .content__text .text {
      height: 180px; }
      .content__text .text p {
        margin-bottom: 30px; }
    .content__text .open {
      overflow: visible;
      height: 17em; }
  .content__photo {
    width: 360px;
    height: 210px;
    border: none; }
    .content__photo img {
      border-radius: 6px;
      width: 360px; } }

@media (min-width: 1120px) {
  .content__text {
    width: 490px;
    line-height: 20px; }
  .content__photo {
    width: 532px;
    height: 307px; }
    .content__photo img {
      width: 532px; } }

.rotate::before {
  transform: rotate(180deg); }

.brands {
  display: flex;
  flex-direction: column; }
  .brands::after {
    content: "";
    margin-top: 24px;
    border-bottom: 1px solid  #D9FFF5; }
  .brands__title {
    max-width: 100%;
    background: linear-gradient(90deg, #f8f8f8 0%, #ffffff 98.61%);
    text-transform: uppercase;
    padding: 16px;
    align-items: center;
    max-height: 80px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500; }
  .brands__items {
    display: none; }
  .brands__item {
    display: inline-flex;
    width: 206px;
    height: 80px;
    justify-content: space-between;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    align-items: center;
    margin: 0 16px;
    padding: 0 16px; }
  .brands .btn {
    border-radius: 50%;
    width: 40px;
    height: 40px; }
    .brands .btn__brand {
      background-color: #fff;
      border: 2px solid #ff3e79; }
    .brands .btn__brand::after {
      content: '\276F';
      width: 20px;
      height: 20px;
      color: #ff3e79; }
    .brands .btn:hover {
      opacity: 0.5; }
  .brands__more {
    display: none; }
  .brands .swiper {
    width: 100vw;
    height: 144px; }
    .brands .swiper .swiper-pagination-bullet {
      background-color: #b5b6bc;
      width: 12px;
      height: 12px; }
  @media (min-width: 768px) {
    .brands .swiper {
      display: none; }
    .brands .brands {
      display: block;
      min-height: 332px; }
      .brands .brands__items {
        display: flex;
        flex-wrap: wrap;
        margin: 0 12px;
        overflow-y: hidden;
        height: 190px;
        transition: height 1s; }
      .brands .brands__open {
        overflow: visible;
        height: 380px; }
      .brands .brands__item {
        width: 224px;
        height: 72px;
        margin: 12px; }
      .brands .brands__more {
        display: flex;
        width: 130px;
        margin: 0 30px; }
        .brands .brands__more::before {
          float: left;
          content: '';
          background: url(./static/arrows.svg) no-repeat;
          width: 10px;
          height: 10px;
          color: #41f6d7;
          margin-right: 16px;
          align-self: center;
          transition: 1s; } }
  @media (min-width: 1120px) {
    .brands .brands__items {
      height: 180px; }
    .brands .brands__item {
      width: 240px;
      margin: 8px 16px; }
    .brands .brands__more {
      margin: 0 40px; }
    .brands .brands__open {
      overflow: visible;
      height: 265px; } }

.service {
  display: flex;
  flex-direction: column;
  padding: 30px 0 0; }
  .service::after {
    content: "";
    margin-top: 24px;
    border-bottom: 1px solid  #D9FFF5; }
  .service__title {
    max-width: 100%;
    background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
    text-transform: uppercase;
    padding: 16px;
    align-items: center;
    max-height: 80px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400; }
  .service__swiper {
    overflow: hidden;
    width: 100vw; }
  .service__swiper-pagination {
    display: flex;
    justify-content: center; }
  .service .swiper-pagination-bullet {
    background-color: #b5b6bc;
    width: 12px;
    height: 12px; }
  .service__items {
    display: none; }
  .service__item {
    width: 240px;
    height: 160px;
    margin: 16px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    position: relative; }
    .service__item__title {
      font-family: TTLakes-Bold, sans-serif;
      font-size: 16px;
      line-height: 24px;
      padding: 16px; }
  .service .btn {
    border-radius: 50%;
    width: 40px;
    height: 40px; }
    .service .btn:hover {
      opacity: 0.5; }
  .service__btn {
    background-color: #fff;
    border: 2px solid #FF3E79;
    margin: 0;
    position: absolute;
    bottom: 16px;
    right: 16px; }
    .service__btn::after {
      content: "\276F";
      width: 20px;
      height: 20px;
      color: #FF3E79; }
  .service__more {
    display: none; }
  @media (min-width: 768px) {
    .service__swiper {
      display: none; }
    .service__items {
      display: flex;
      flex-wrap: wrap;
      overflow-y: hidden;
      height: 192px;
      transition: 1s; }
    .service__open {
      overflow: visible;
      height: 400px; }
    .service__item {
      width: 224px; }
    .service__more {
      display: flex;
      margin: 0 30px; }
      .service__more::before {
        float: left;
        content: '';
        background: url(./static/arrows.svg) no-repeat;
        width: 10px;
        height: 10px;
        color: #41f6d7;
        margin-right: 16px;
        align-self: center;
        transition: 1s; } }
  @media (min-width: 1128px) {
    .service__item {
      width: 240px; } }

.prices {
  display: flex;
  flex-direction: column;
  padding: 2rem 0; }
  .prices::after {
    content: "";
    border-bottom: 1px solid  #D9FFF5; }
  .prices__title {
    max-width: 100%;
    background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
    text-transform: uppercase;
    padding: 16px;
    align-items: center;
    max-height: 80px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400; }
  .prices__card {
    height: 200px;
    width: 260px;
    margin: 8px;
    padding: 16px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    position: relative; }
    .prices__card__title {
      font-family: TTLakes, sans-serif;
      line-height: 24px;
      font-weight: 200;
      opacity: 0.5; }
    .prices__card__content {
      margin-bottom: 16px; }
  .prices .btn {
    width: 119px;
    height: 32px;
    background-color: #FF3E79;
    border-radius: 16px;
    color: #FFFFFF;
    font-family: TTLakes-Bold, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .prices .btn::after {
      content: "\276F";
      width: 20px;
      height: 20px;
      color: #FFFFFF; }
    .prices .btn:hover {
      opacity: 0.5; }
  .prices__btn {
    position: absolute;
    bottom: 16px;
    right: 16px; }
    .prices__btn__offer {
      position: static;
      display: flex;
      justify-content: flex-start;
      padding: 1.2rem;
      font-family: 'TTLakes-Medium', sans-serif;
      margin-bottom: 40px; }
      .prices__btn__offer::after {
        content: "\276F";
        width: 20px;
        height: 20px;
        color: #FF3E79;
        margin-left: 10px; }
  .prices__swiper {
    overflow: hidden; }
  .prices__swiper-pagination {
    display: flex;
    justify-content: center; }
  .prices .swiper-pagination-bullet {
    background-color: #b5b6bc;
    width: 12px;
    height: 12px; }
  .prices__content {
    display: none; }
  .prices__text {
    padding: 1.2rem;
    line-height: 20px; }
  @media (min-width: 768px) {
    .prices__swiper {
      display: none; }
    .prices__table {
      width: 720px;
      margin: 0 auto; }
    .prices__content {
      display: flex;
      flex-direction: column;
      border-collapse: collapse;
      width: 100%; }
    .prices__head {
      display: flex;
      justify-content: space-between;
      padding: 31px 18px 16px; }
      .prices__head th {
        background-color: #F8F8F8;
        opacity: 0.5;
        text-align: left;
        width: calc(100%/4);
        padding-right: 16px; }
        .prices__head th:first-child {
          min-width: 350px; }
        .prices__head th:last-child {
          visibility: hidden; }
    .prices__items {
      background-color: #FFFFFF;
      justify-content: space-between;
      border-radius: 6px;
      padding: 0 16px; }
    .prices__item {
      border-bottom: 1px solid #F8F8F8;
      justify-content: space-between; }
      .prices__item td {
        height: 60px;
        white-space: nowrap;
        width: calc(100%/4);
        padding-right: 16px; }
        .prices__item td:nth-child(1) {
          flex-shrink: 0; }
        .prices__item td:last-child {
          padding-right: 0; }
    .prices .btn {
      position: static; }
    .prices__text {
      width: 455px; } }
  @media (min-width: 1128px) {
    .prices__table {
      width: 1056px; }
    .prices__head {
      width: 100%; }
      .prices__head th:first-child {
        width: 40%; }
      .prices__head th:last-child {
        width: 10%; }
    .prices__items {
      display: flex;
      flex-direction: column; }
    .prices__item {
      display: flex;
      justify-content: space-between;
      width: 100%; }
      .prices__item td {
        display: flex;
        align-items: center; }
        .prices__item td:first-child {
          width: 40%; }
        .prices__item td:last-child {
          width: 10%; } }

.footer {
  font-family: 'TTLakes-Medium', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .footer__item {
    text-align: center;
    margin-bottom: 1rem;
    opacity: 0.5; }
  @media (min-width: 768px) {
    .footer {
      padding: 1.5rem;
      flex-direction: row;
      justify-content: space-between; }
    .footer__item {
      width: 218px; }
      .footer__item:first-child {
        text-align: left; }
      .footer__item:last-child {
        text-align: right; } }
  @media (min-width: 1126px) {
    .footer__item:last-child {
      width: 330px; } }

.sideBar {
  position: fixed;
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999; }
  .sideBar .asideMenu {
    position: absolute;
    height: 100vh;
    width: 320px;
    display: flex;
    flex-direction: column;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    overflow-y: auto;
    background-color: #fff;
    transition: 0.7s;
    left: -350px; }
    .sideBar .asideMenu::-webkit-scrollbar {
      width: 0; }
    .sideBar .asideMenu__header {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 35px;
      padding: 1rem 1rem; }
      .sideBar .asideMenu__header__logo {
        flex-grow: 1;
        padding-left: 15px; }
    .sideBar .asideMenu .btn {
      background-color: #ff3e79;
      border-radius: 50%;
      width: 40px;
      height: 40px; }
      .sideBar .asideMenu .btn__menu {
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='16' viewBox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 1C0 0.447715 0.447715 0 1 0H17C17.5523 0 18 0.447715 18 1C18 1.55228 17.5523 2 17 2H1C0.447716 2 0 1.55228 0 1ZM0 8C0 7.44772 0.447715 7 1 7H9C9.55228 7 10 7.44772 10 8C10 8.55229 9.55229 9 9 9H1C0.447715 9 0 8.55229 0 8ZM1 14C0.447715 14 0 14.4477 0 15C0 15.5523 0.447716 16 1 16H13C13.5523 16 14 15.5523 14 15C14 14.4477 13.5523 14 13 14H1Z' fill='white'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center; }
      .sideBar .asideMenu .btn__phone {
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.76019 12.25L4.30019 11.96C4.91019 11.89 5.51019 12.1 5.94019 12.53L7.78019 14.37C10.6102 12.93 12.9302 10.62 14.3702 7.78L12.5202 5.93C12.0902 5.5 11.8802 4.9 11.9502 4.29L12.2402 1.77C12.3602 0.76 13.2102 0 14.2302 0H15.9602C17.0902 0 18.0302 0.94 17.9602 2.07C17.4302 10.61 10.6002 17.43 2.07019 17.96C0.940193 18.03 0.00019455 17.09 0.00019455 15.96V14.23C-0.00980568 13.22 0.750193 12.37 1.76019 12.25Z' fill='white'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center; }
      .sideBar .asideMenu .btn__chat {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18 0H2C0.9 0 0.01 0.9 0.01 2L0 20L4 15H18C19.1 15 20 14.1 20 13V2C20 0.9 19.1 0 18 0ZM11 11H5C4.45 11 4 10.55 4 10C4 9.45 4.45 9 5 9H11C11.55 9 12 9.45 12 10C12 10.55 11.55 11 11 11ZM15 6H5C4.45 6 4 5.55 4 5C4 4.45 4.45 4 5 4H15C15.55 4 16 4.45 16 5C16 5.55 15.55 6 15 6Z' fill='white'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center; }
      .sideBar .asideMenu .btn__profile {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='19' viewBox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 9C12.9853 9 15 6.98528 15 4.5C15 2.01472 12.9853 0 10.5 0C8.01472 0 6 2.01472 6 4.5C6 6.98528 8.01472 9 10.5 9Z' fill='white'/%3E%3Cpath d='M0.0165859 16.6118C-0.113065 17.3412 0.535191 18 1.33903 18H18.6604C19.4902 18 20.1125 17.3412 19.9829 16.6118C19.2309 12.4 15.0561 10 9.99973 10C4.94333 10 0.768563 12.4 0.0165859 16.6118Z' fill='white'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center; }
      .sideBar .asideMenu .btn__group {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.25807 13.4583L8.66685 13.0494L6.94998 11.3322L6.54121 11.7411L6.33682 11.5367C6.0098 11.1687 5.68278 10.9643 5.35575 11.0052C5.11049 11.0052 4.9061 11.1687 4.74259 11.414C4.49732 11.8229 4.61996 12.2726 4.66083 12.5588C4.66083 12.6406 4.70171 12.6815 4.70171 12.7632C4.70171 12.8859 4.70171 13.0494 4.41557 13.0903C4.00679 13.213 3.47538 13.3356 2.94397 13.6218C2.20817 14.0307 1.71764 14.3987 1.4315 14.7666C-0.0809772 16.7291 0.000778159 18.4055 0.000778159 18.4872C0.000778159 18.6099 0.0416558 18.6917 0.123411 18.7325L1.22711 19.8773C1.30886 19.9591 1.39062 20 1.47237 20C1.47237 20 1.51325 20 1.59501 20C2.00378 20 3.47538 19.9182 5.19224 18.569C5.56014 18.2828 5.92804 17.7922 6.33682 17.0562C6.62296 16.5656 6.78647 16.0341 6.86823 15.5844C6.94998 15.2982 7.07262 15.2982 7.19525 15.2982C7.23613 15.2982 7.31788 15.339 7.39964 15.339C7.56315 15.3799 7.72666 15.4208 7.93105 15.4208C8.13544 15.4208 8.33983 15.3799 8.54421 15.2573C8.78948 15.0937 8.95299 14.8893 8.99387 14.644C9.03475 14.3169 8.87123 13.9898 8.50334 13.7036L8.25807 13.4583Z' fill='white'/%3E%3Cpath d='M16.884 4.87841L18.0188 4.32603C18.0609 4.28354 18.1449 4.24105 18.1869 4.19856L19.9101 1.86157C20.0362 1.69161 20.0362 1.43667 19.8681 1.3092L18.6913 0.119458C18.5652 -0.00801422 18.313 -0.0505049 18.1449 0.076967L15.8333 1.81908C15.7913 1.86157 15.7493 1.90406 15.7072 1.98905L15.1609 3.13629L11 7.21539L12.7652 9L16.884 4.87841Z' fill='white'/%3E%3Cpath d='M17.8527 13.0448C16.8636 12.0036 15.4393 11.6288 14.0941 12.0036L7.64527 5.17331C7.72439 4.79848 7.76396 4.46529 7.76396 4.09046C7.76396 3.04926 7.36832 2.00806 6.61661 1.21675C5.58796 0.0922529 4.04498 -0.282579 2.6207 0.217197C2.54157 0.258845 2.42288 0.383789 2.38331 0.550381C2.38331 0.675325 2.42288 0.800269 2.50201 0.925213L4.44062 2.96597C4.87582 3.42409 4.87582 4.21541 4.44062 4.67353C4.00542 5.13166 3.25371 5.13166 2.81851 4.67353L0.8799 2.63278C0.76121 2.54949 0.642519 2.50784 0.484265 2.54949C0.365574 2.54949 0.246884 2.67443 0.20732 2.79937C-0.267442 4.25705 0.0886295 5.88133 1.11728 6.96417C1.82943 7.75549 2.85808 8.17197 3.88673 8.17197C4.20324 8.17197 4.55931 8.13032 4.87582 8.04702L11.3642 14.8773C11.0082 16.2933 11.4038 17.7927 12.3533 18.8339C13.105 19.6252 14.0546 20 15.0832 20C15.5184 20 15.914 19.9167 16.3492 19.7918C16.4679 19.7501 16.5866 19.6252 16.6262 19.5002C16.6658 19.3753 16.6262 19.2087 16.5075 19.1254L14.5689 17.0846C14.3711 16.8764 14.2128 16.5432 14.2128 16.21C14.2128 15.8768 14.3315 15.5853 14.5689 15.3354C14.8063 15.0855 15.0832 14.9606 15.3997 14.9606C15.7162 14.9606 15.9932 15.0855 16.2306 15.3354L18.1692 17.3762C18.2879 17.4595 18.4065 17.5011 18.5252 17.5011C18.6439 17.4595 18.7626 17.3762 18.8022 17.2512C18.9209 16.8348 19 16.3766 19 15.9185C19 14.8356 18.6044 13.7944 17.8527 13.0448Z' fill='white'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center; }
      .sideBar .asideMenu .btn__check {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 1C0 0.447715 0.447715 0 1 0H15C15.5523 0 16 0.447716 16 1V18.5C15.1716 18.5 14.5001 19.1715 14.5 19.9999H13.5C13.4999 19.1715 12.8284 18.5 12 18.5C11.1716 18.5 10.5001 19.1715 10.5 19.9999H9.5C9.49994 19.1715 8.82839 18.5 8 18.5C7.17161 18.5 6.50006 19.1715 6.5 19.9999H5.5C5.49994 19.1715 4.82839 18.5 4 18.5C3.17161 18.5 2.50006 19.1715 2.5 19.9999H1.5C1.49994 19.1715 0.828392 18.5 0 18.5V1ZM9.41635 11.7884C8.55361 12.3444 7.47039 12.5936 6.32965 12.3827C4.52748 12.0472 3.08957 10.5327 2.85951 8.71142C2.49524 5.82612 4.94926 3.42012 7.85383 3.88023C9.656 4.1678 11.1035 5.644 11.4007 7.43652C11.5828 8.54846 11.324 9.57413 10.7872 10.4273L12.8961 12.5265C13.2699 12.9004 13.2699 13.5138 12.8961 13.8877C12.5126 14.2711 11.8991 14.2711 11.5253 13.8973L9.41635 11.7884ZM4.70588 8.05882C4.70588 6.76 5.76 5.70588 7.05882 5.70588C8.35765 5.70588 9.41177 6.76 9.41177 8.05882C9.41177 9.35765 8.35765 10.4118 7.05882 10.4118C5.76 10.4118 4.70588 9.35765 4.70588 8.05882Z' fill='white'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center; }
      .sideBar .asideMenu .btn__close {
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.79348 1.25712C2.40295 0.866593 1.76979 0.866592 1.37927 1.25712L1.25712 1.37927C0.866592 1.76979 0.866593 2.40296 1.25712 2.79348L7.46364 9L1.25712 15.2065C0.866593 15.597 0.866592 16.2302 1.25712 16.6207L1.37927 16.7429C1.76979 17.1334 2.40295 17.1334 2.79348 16.7429L9 10.5364L15.2065 16.7429C15.597 17.1334 16.2302 17.1334 16.6207 16.7429L16.7429 16.6207C17.1334 16.2302 17.1334 15.597 16.7429 15.2065L10.5364 9L16.7429 2.79348C17.1334 2.40296 17.1334 1.76979 16.7429 1.37927L16.6207 1.25712C16.2302 0.866592 15.597 0.866593 15.2065 1.25712L9 7.46364L2.79348 1.25712Z' fill='white'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center; }
      .sideBar .asideMenu .btn__search {
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.5006 11.0006H11.7106L11.4306 10.7306C12.6306 9.33063 13.2506 7.42063 12.9106 5.39063C12.4406 2.61063 10.1206 0.390626 7.32063 0.0506256C3.09063 -0.469374 -0.469374 3.09063 0.0506256 7.32063C0.390626 10.1206 2.61063 12.4406 5.39063 12.9106C7.42063 13.2506 9.33063 12.6306 10.7306 11.4306L11.0006 11.7106V12.5006L15.2606 16.7506C15.6706 17.1606 16.3306 17.1606 16.7406 16.7506L16.7506 16.7406C17.1606 16.3306 17.1606 15.6706 16.7506 15.2606L12.5006 11.0006ZM6.50063 11.0006C4.01063 11.0006 2.00063 8.99063 2.00063 6.50063C2.00063 4.01063 4.01063 2.00063 6.50063 2.00063C8.99063 2.00063 11.0006 4.01063 11.0006 6.50063C11.0006 8.99063 8.99063 11.0006 6.50063 11.0006Z' fill='white'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center; }
      .sideBar .asideMenu .btn:hover {
        opacity: 0.5; }
    .sideBar .asideMenu__items {
      display: flex;
      flex-direction: column;
      width: 100%; }
    .sideBar .asideMenu__item {
      display: flex;
      max-width: 320px;
      height: 32px;
      color: #1B1C21;
      align-items: center;
      font-family: 'TTLakes-Medium', sans-serif;
      margin-left: 24px; }
      .sideBar .asideMenu__item:hover {
        margin-left: 0;
        border-left: 4px solid #41F6D7;
        padding-left: 20px;
        opacity: 0.7;
        cursor: pointer; }
    .sideBar .asideMenu__footer {
      display: flex;
      flex-direction: column;
      padding: 0 1rem;
      margin-top: auto; }
      .sideBar .asideMenu__footer__items {
        display: flex;
        width: 170px;
        justify-content: space-between;
        margin-bottom: 15px; }
      .sideBar .asideMenu__footer__mail {
        width: 100%;
        margin-bottom: 12px; }
        .sideBar .asideMenu__footer__mail:hover {
          opacity: 0.7;
          text-decoration: underline; }
      .sideBar .asideMenu__footer .phone-number {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 40px; }
        .sideBar .asideMenu__footer .phone-number:hover {
          opacity: 0.7;
          text-decoration: underline; }
      .sideBar .asideMenu__footer__language {
        display: flex;
        flex-direction: row;
        margin-bottom: 32px;
        width: 30%;
        justify-content: space-between; }
        .sideBar .asideMenu__footer__language .language:hover {
          opacity: 0.5;
          cursor: pointer; }
    .sideBar .asideMenu a {
      color: #1B1C21; }
    .sideBar .asideMenu .check_input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
  @media (min-width: 1396px) {
    .sideBar {
      position: absolute;
      visibility: visible;
      width: 320px;
      height: 100vh;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0); }
      .sideBar .asideMenu {
        left: 0;
        z-index: 999;
        box-shadow: none; }
        .sideBar .asideMenu .btn__close {
          display: none; } }

.sidePhone {
  position: fixed;
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  transition: 0.3s; }
  .sidePhone_open {
    visibility: visible; }
  @media (min-width: 1396px) {
    .sidePhone {
      position: absolute;
      left: -350px;
      top: 0;
      bottom: 0; } }

.modalPhone {
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  transform: translateX(350px);
  transition: transform 0.7s; }
  .modalPhone_open {
    right: 0;
    transform: translateX(0); }
  .modalPhone .btn {
    background-color: #ff3e79;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 24px 16px; }
    .modalPhone .btn__close {
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.79348 1.25712C2.40295 0.866593 1.76979 0.866592 1.37927 1.25712L1.25712 1.37927C0.866592 1.76979 0.866593 2.40296 1.25712 2.79348L7.46364 9L1.25712 15.2065C0.866593 15.597 0.866592 16.2302 1.25712 16.6207L1.37927 16.7429C1.76979 17.1334 2.40295 17.1334 2.79348 16.7429L9 10.5364L15.2065 16.7429C15.597 17.1334 16.2302 17.1334 16.6207 16.7429L16.7429 16.6207C17.1334 16.2302 17.1334 15.597 16.7429 15.2065L10.5364 9L16.7429 2.79348C17.1334 2.40296 17.1334 1.76979 16.7429 1.37927L16.6207 1.25712C16.2302 0.866592 15.597 0.866593 15.2065 1.25712L9 7.46364L2.79348 1.25712Z' fill='white'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center; }
      @media (min-width: 1396px) {
        .modalPhone .btn__close {
          position: absolute;
          left: -75px;
          top: 0; } }
    .modalPhone .btn:hover {
      opacity: 0.5; }
  .modalPhone__title {
    border-left: 4px solid #41F6D7;
    height: 40px;
    font-family: 'TTLakes-Bold', sans-serif;
    font-size: 24px;
    display: flex;
    align-items: center;
    padding-left: 12px;
    margin-bottom: 24px; }
    @media (min-width: 1396px) {
      .modalPhone__title {
        margin-top: 30px; } }
  .modalPhone__input {
    width: 290px;
    height: 50px;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    margin: 0 16px;
    padding: 0 16px; }
  .modalPhone__content {
    margin: 16px;
    font-family: TTLakes-Medium, sans-serif; }
    .modalPhone__content__text {
      color: #ff3e79; }
  .modalPhone__button {
    display: flex;
    justify-content: flex-end; }
    .modalPhone__button .button {
      width: 119px;
      height: 32px;
      background-color: #FF3E79;
      border-radius: 16px;
      color: #FFFFFF;
      font-family: TTLakes-Bold, sans-serif;
      text-transform: uppercase;
      font-size: 12px;
      padding: 0 12px;
      display: flex;
      align-items: center;
      margin: 0 16px; }
      .modalPhone__button .button::after {
        content: "\276F";
        width: 20px;
        height: 20px;
        color: #FFFFFF; }
    .modalPhone__button:hover {
      opacity: 0.5; }

.sideMessage {
  position: fixed;
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  transition: 0.3s; }
  .sideMessage_open {
    visibility: visible; }
  @media (min-width: 1396px) {
    .sideMessage {
      position: absolute;
      left: -350px;
      top: 0;
      bottom: 0; } }

.modalMessage {
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  transform: translateX(350px);
  transition: transform 0.7s; }
  .modalMessage_open {
    right: 0;
    transform: translateX(0); }
  .modalMessage .btn {
    background-color: #ff3e79;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 24px 16px; }
    .modalMessage .btn__close {
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.79348 1.25712C2.40295 0.866593 1.76979 0.866592 1.37927 1.25712L1.25712 1.37927C0.866592 1.76979 0.866593 2.40296 1.25712 2.79348L7.46364 9L1.25712 15.2065C0.866593 15.597 0.866592 16.2302 1.25712 16.6207L1.37927 16.7429C1.76979 17.1334 2.40295 17.1334 2.79348 16.7429L9 10.5364L15.2065 16.7429C15.597 17.1334 16.2302 17.1334 16.6207 16.7429L16.7429 16.6207C17.1334 16.2302 17.1334 15.597 16.7429 15.2065L10.5364 9L16.7429 2.79348C17.1334 2.40296 17.1334 1.76979 16.7429 1.37927L16.6207 1.25712C16.2302 0.866592 15.597 0.866593 15.2065 1.25712L9 7.46364L2.79348 1.25712Z' fill='white'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center; }
      @media (min-width: 1396px) {
        .modalMessage .btn__close {
          position: absolute;
          left: -75px;
          top: 0; } }
    .modalMessage .btn:hover {
      opacity: 0.5; }
  .modalMessage__title {
    border-left: 4px solid #41F6D7;
    height: 40px;
    font-family: 'TTLakes-Bold', sans-serif;
    font-size: 24px;
    display: flex;
    align-items: center;
    padding-left: 12px;
    margin-bottom: 24px; }
    @media (min-width: 1396px) {
      .modalMessage__title {
        margin-top: 30px; } }
  .modalMessage__input {
    display: flex;
    opacity: 0.7;
    font-size: 16px;
    width: 290px;
    height: 50px;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    margin: 0 16px 16px;
    padding: 0 16px; }
    .modalMessage__input:last-child {
      height: 120px; }
  .modalMessage__content {
    margin: 16px;
    font-family: TTLakes-Medium, sans-serif; }
    .modalMessage__content__text {
      color: #ff3e79; }
  .modalMessage__button {
    display: flex;
    justify-content: flex-end; }
    .modalMessage__button .button {
      width: 119px;
      height: 32px;
      background-color: #FF3E79;
      border-radius: 16px;
      color: #FFFFFF;
      font-family: TTLakes-Bold, sans-serif;
      text-transform: uppercase;
      font-size: 12px;
      padding: 0 12px;
      display: flex;
      align-items: center;
      margin: 0 16px; }
      .modalMessage__button .button::after {
        content: "\276F";
        width: 20px;
        height: 20px;
        color: #FFFFFF; }
    .modalMessage__button:hover {
      opacity: 0.5; }


/*# sourceMappingURL=style.css.map*/