.header {
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 88px;
  max-width: 100%;
  padding: 0 16px;
  
  &__logo {
    margin: 0 16px;
    flex-grow: 1;
  }
  &__contacts {
    display: none;
  }
  &__check-status {
    display: flex;
    width: 120px;
    justify-content: space-between;

    &::before {
      content: '';
      border-left: 2px solid #eaeaea;
      height: 32px;
      align-self: center;
    }
  }

  @media (min-width: 768px) {
    & {
      min-height: 80px;
      align-items: center;
    }

    &__contacts {
      display: flex;
      width: 150px;
      justify-content: space-between;
      margin-right: 20px;
    }
    &__logo {
      display: flex;
      &::before {
        content: '';
        border-right: 2px solid #eaeaea;
        align-self: center;
        height: 32px;
        margin-right: 20px;
      }
    }

    &__btn {
      margin: 8px;
    }
  }

  @media (min-width: 1120px) {
    & {
      display: none;
    }
  }
}
