.sidePhone {
  position: fixed;
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 999;
  transition: 0.3s;
  &_open {
    visibility: visible;
  }
  @media (min-width: 1396px) {
    position: absolute;
    left: -350px;
    top: 0;
    bottom: 0;
  }
}
.modalPhone {
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  transform: translateX(350px);
  transition: transform 0.7s;
  &_open {
    right: 0;
    transform: translateX(0);
  }
  
  &__title {
    border-left: 4px solid #41F6D7;
    height: 40px;
    font-family: 'TTLakes-Bold', sans-serif;
    font-size: 24px;
    display: flex;
    align-items: center;
    padding-left: 12px;
    margin-bottom: 24px;
    @media (min-width: 1396px) {
      margin-top: 30px;
    }
  }
  &__input {
    width: 290px;
    height: 50px;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    margin: 0 16px;
    padding: 0 16px;
  }
  &__content {
    margin: 16px;
    font-family: TTLakes-Medium, sans-serif;
    &__text {
      color:#ff3e79;
    }
  }
  &__button {
    display: flex;
    justify-content: flex-end;
    .button {
      width: 119px;
      height: 32px;
      background-color: #FF3E79;
      border-radius: 16px;
      color: #FFFFFF;
      font-family: TTLakes-Bold, sans-serif;
      text-transform: uppercase;
      font-size: 12px;
      padding: 0 12px;
      display: flex;
      align-items: center;
      margin: 0 16px;
      &::after {
        content: "\276F";
        width: 20px;
        height: 20px;
        color: #FFFFFF;
      }
    }
    &:hover {
      opacity: 0.5;
    }
  }
  @media (min-width: 1396px) {
    
  }
}