$bgColor: #F8F8F8;
$text: #1B1C21;

@font-face {
  font-family: 'TTLakes';
  src: url('../fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'TTLakes-Bold';
  src: url('../fonts/TTLakes-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'TTLakes-Medium';
  src: url('../fonts/TTLakes-Medium.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

body {
  font-family: TTLakes, sans-serif;
  background-color: $bgColor;
  color: $text;
  max-width: 1126px;
  margin: 0 auto;
  // position: relative;
}
.page {
  @media (min-width: 1368px) {
    position: absolute;
    top: 0;
    left: 320px;
  }
}

