@font-face {
    font-family: 'TTLakes-Bold';
    src: url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

.title {
    display: flex;
    width: 100%;
    font-family: TTLakes-Bold, sans-serif;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    margin: 24px 0;
    &::before {
        content:'';
        border-left: 4px solid #41F6D7;
        
        width: 10px;
        height: 40px;
        align-self: center;
    }
    &__check-status {
        display: none;
    }
}
    
